@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Ubuntu:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0px;
  /* margin: 0px 25px; */
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  font-family: "Ubuntu", sans-serif;
}

.container {
  position: absolute;
  background-color: #1f7b6bdb;
  font-family: "PT Serif", serif;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
  height: 95px;
  width: 100%;
  padding: 15px 0px 9px 23px;
}

.itembody {
  position: absolute;
  margin-top: 60px;
  /* margin-left: 50px; */
  background-color: rgba(33, 141, 160, 0.692);
}

.navitems {
  height: 780px !important;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130px 130px 130px 130px;
  border: solid 2px white;
  padding-top: 30px;
  padding-left: 9px;
  background-color: #68bd9e12;
}

.item {
  border: 3px solid rgb(54, 54, 54) !important;
  border-radius: 10px;
  height: 112px !important;
  width: 100px;
  overflow: hidden;
  /* background: rgb(99, 97, 97); */
  color: aliceblue;
  background-color: rgba(33, 141, 160, 0.692);

  color: rgb(0, 0, 0);
  font-family: "PT Serif", serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 7px 1px 0px 7px;
  cursor: pointer;
  /* padding: ; */
}

img {
  height: 65px;
  width: 68px;
  border-radius: 50%;
  opacity: 0.7;
}

#student:hover img {
  border-radius: 23px;
  transition: 0.3s;
}

#student img {
  border-radius: 50px;
  transition: 0.3s;
}

.item:hover img {
  opacity: 1;
  border: solid 1px white;
  transition: 0.3s;
  border-radius: 20px;
  height: 64px;
  width: 66px;
  background-color: rgb(204, 211, 218);
}

.item:hover a {
  color: white;
  transition: 0.81s;
  font-size: 15px;
}

a {
  padding-left: 6px;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

#last {
  height: 200px;
  border-radius: 10px;
  border: solid 2px black;
  width: 185%;
  background-image: linear-gradient(
    /* to left, */ 270deg,
    #2e5f7e,
    #429676,
    rgb(160, 110, 31)
  );
}

.realbody {
  position: absolute;
  margin-left: 248px;
  width: 75%;
  height: 780px;
  margin-top: 60px;
  background: rgb(233, 229, 229);
  overflow: hidden;
  display: inline-flex;
  gap: 80px;
  padding-left: 45px;
  overflow: hidden;
}

.remainbody {
  position: absolute;
  width: 222px;
  height: 780px;
  background: #3f8d80;
  border: solid 2px black;
  margin-left: 84.39%;
  margin-top: 60px;
}

.box1 {
  width: 200px;
  height: 140px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 20px;
  border: 1px solid rgba(21, 96, 165, 0.364);
  display: grid;
  margin-top: 20px;
  margin-left: 24px;
  background-color: rgb(145, 77, 22);
}
/* .course,
.students,
.sold {
  /* font-family: "League Gothic", sans-serif; */
/* font-size: 28px;
  padding-top: 5px !important;
  text-align: center !important;
  border-radius: 7px;
  margin-left: 20px !important; */
/* } */
.number1 {
  font-family: "League Gothic", sans-serif;
  padding-left: 44%;
  font-size: -webkit-xxx-large;
  background-color: rgb(190, 112, 60);
}

.link1 {
  padding-left: 42%;
  font-size: small;
  font-style: oblique;
  font-weight: bolder;
}

.box2 {
  /* width: 200px;
  height: 180px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 20px;
  border: 1px solid rgba(21, 96, 165, 0.364);
  display: grid;
  margin-top: 20px;
  margin-left: 24px;
  background-color: rgb(63, 141, 128); */

  width: 200px;
  height: 204px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 29px;
  border: 1px solid rgba(21, 96, 165, 0.364);
  display: grid;
  margin-top: 20px;
  margin-left: 24px;
  background-color: rgb(145, 77, 22);
}
.number2 {
  font-family: "League Gothic", sans-serif;
  padding-left: 44%;
  font-size: -webkit-xxx-large;
  background-color: rgba(85, 202, 167, 0.726);
}

.link2 {
  padding-left: 42%;
  font-size: small;
  font-style: oblique;
  font-weight: bolder;
}

.box3 {
  width: 200px;
  height: 140px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 20px;
  border: 1px solid rgba(21, 96, 165, 0.364);
  display: grid;
  margin-top: 20px;
  margin-left: 24px;
  background-color: rgb(64, 132, 163);
}
.number3 {
  font-family: "League Gothic", sans-serif;
  padding-left: 44%;
  font-size: -webkit-xxx-large;
  background-color: rgb(24, 117, 145);
}

.link3 {
  padding-left: 42%;
  font-size: small;
  font-style: oblique;
  font-weight: bolder;
}

/* .course {
  font-size: 28px;
  padding-top: 12px;
  padding-left: 49px;
  /* padding-right: 13px; */

/* border-radius: 7px;
} */

hr {
  height: 4px;
  background-color: snow;
}

/* .number {
  padding-left: 44%;
  font-size: -webkit-xxx-large;
  background-color: rgb(190, 112, 60);
}

.link {
  padding-left: 42%;
  font-size: small;
  font-style: oblique;
  font-weight: bolder;
} */

.table {
  width: 104%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 10px 15px;
  border: 1px solid rgb(185, 182, 178);
  text-align: center;
}

.table th {
  background-color: rgb(170, 97, 12);
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #e28b08e7 !important;
}

.table tbody tr:nth-child(odd) {
  background-color: #0f6777da;
}

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-left: 50px;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
  }
}

.add img {
  margin-right: 20px !important;
  transition: 0.6s;
  position: fixed;
}

.add:hover img {
  opacity: 1;
  transform: rotate(-180deg);
}

.addCourse .courseform #course_submit {
  transition: color 0.5s, background-color 0.4s !important;
}

.addCourse .courseform #course_submit:hover,
.addCourse .courseform #course_cancel:hover {
  background-color: rgb(23, 109, 138) !important;
  color: white !important;
  border: solid 2px whitesmoke !important;
}

.addCourse .courseform #course_cancel {
  transition: color 0.5s, background-color 0.4s !important;
}

.addCourse .courseform #course_cancel:hover {
  background-color: rgba(23, 109, 138, 1) !important;

  border: solid 2px whitesmoke !important;
}

.addCourse .courseform #course_cancel:hover a {
  color: white !important;
}

.table-responsive {
  margin-top: 383px;
  user-select: auto;
  position: absolute;
  margin-left: 20% !important;
  width: 65%;
}

.coursetable {
  width: 93%;
  position: absolute;
  margin-top: 45%;
  margin-left: 200px;
  height: 33px;
  padding-top: 6px;
  margin: 60px 0px 0px 21%;
  width: 937px;
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  background: rgba(13, 112, 82, 0.918);
  position: absolute;
}

.table-responsive2 {
  margin-top: 8%;
  user-select: auto;
  position: absolute;
  margin-left: 18.7%;
  width: 67%;
}

.coursetable2 {
  position: absolute;
  height: 53px;
  padding-top: 6px;
  margin: 62px 0px 0px 18.7%;
  width: 1003px;
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  background: rgba(13, 112, 82, 0.918);
}

/* table button img #delete:hover {
  border: solid 4px black !important;
  height: 9px !important;
} */
/* 
table .divtableee {
  margin-top: 121px;
  position: absolute !important;
  margin-left: 45%;
  font-size: 1.3em;
  border-collapse: collapse;
  min-width: 600px;
  padding: 12x 15px;
} */

.addCourse .courseform #student_submit {
  transition: color 0.5s, background-color 0.4s !important;
}

.addCourse .courseform #student_submit:hover,
.addCourse .courseform #student_cancel:hover {
  background-color: rgb(23, 109, 138) !important;
  color: white !important;
  border: solid 2px whitesmoke !important;
}

.addCourse .courseform #student_cancel {
  transition: color 0.5s, background-color 0.4s !important;
}

.addCourse .courseform #student_cancel:hover {
  background-color: rgba(23, 109, 138, 1) !important;

  border: solid 2px whitesmoke !important;
}

.addCourse .courseform #student_cancel:hover a {
  color: white !important;
}

.addCourse .courseform #student_submit2 {
  transition: color 0.5s, background-color 0.4s !important;
}

.addCourse .courseform #student_submit2:hover {
  background-color: rgb(23, 109, 138) !important;
  color: white !important;
  border: solid 2px whitesmoke !important;
}
